server:
  port: 8081

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: notification-service
          uri: http://54.85.80.177:8082/
          predicates:
            - Path=/api/notifications/**
          filters:
            - StripPrefix=1

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://accounts.google.com

ec2.ip.address: 54.85.80.177