server:
  port: 8081

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: notification-service
              uri: http://localhost:8082/
              predicates:
               - Path=/api/notifications/**
              filters:
               - StripPrefix=1
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://accounts.google.com  # or your own OAuth provider